# Listen

In [1]:
studenten = ["Peter","Jan","Stephan","Kristin","Lukas"]

In [2]:
print(studenten[0])
print(studenten[-1])

Peter
Lukas

# Slicing

In [3]:
print(studenten[1:4])

['Jan', 'Stephan', 'Kristin']

In [4]:
print(studenten[0:-1])

['Peter', 'Jan', 'Stephan', 'Kristin']

In [5]:
print(studenten[0:-1])

['Peter', 'Jan', 'Stephan', 'Kristin']

In [6]:
print(studenten[:-1])

['Peter', 'Jan', 'Stephan', 'Kristin']

In [7]:
print(studenten[0:])

['Peter', 'Jan', 'Stephan', 'Kristin', 'Lukas']

# Funktioniert auch mit Strings

In [8]:
"Michal"[1:4]

'ich'

# List Comprehensions

In [9]:
studenten = ["Peter","Jan","Stephan","Kristin"]

In [10]:
neu_liste = [len(stud) for stud in studenten]

neu_liste2 = [stud[-1] for stud in studenten]

print(neu_liste2)

['r', 'n', 'n', 'n']

In [11]:
neu_liste

[5, 3, 7, 7]

# Dictionaries

In [12]:
d = {"Berlin":"BER","Helsinki":"HEL","Wien":"VIE", "Luzern":{}}

In [13]:
print(d)

{'Berlin': 'BER', 'Helsinki': 'HEL', 'Wien': 'VIE', 'Luzern': {}}

In [14]:
d["Wien"]

'VIE'

In [15]:
d["Budapest"]="BUD123"

In [16]:
d

{'Berlin': 'BER',
 'Helsinki': 'HEL',
 'Wien': 'VIE',
 'Luzern': {},
 'Budapest': 'BUD123'}

In [17]:
del d["Budapest"]

In [18]:
d

{'Berlin': 'BER', 'Helsinki': 'HEL', 'Wien': 'VIE', 'Luzern': {}}

In [19]:
print(d["Wien"])

VIE

In [20]:
d.get("Wien")

'VIE'

In [21]:
print(d.get("Zürich"))

None

In [22]:
print("Zürich" in d)

False

# Zugriff auf Dictionary nach Index

In [23]:
print(list(d.values())[1])

HEL

In [24]:
print(list(d)[0])

print(list(d.values()))

Berlin
['BER', 'HEL', 'VIE', {}]

# Tuple

    > Listen und Dictionaries sind veränderbare Strukturen
    > Tupel sind nicht veränderbar

In [25]:
student = ("Max Musterma", 35, "Architektur", "3.Semester")

In [26]:
name, alter, studium, semester = student

In [27]:
name

'Max Musterma'

In [28]:
alter

35

In [29]:
semester

'3.Semester'

In [30]:
student[0] = "Michal"

TypeError: 'tuple' object does not support item assignment

# Beispiel Tuple für die Rückgabewerte einer FUnktion

In [ ]:
def get_student():
    return ("Max Musterman", 35, "Architektur", "3.Semester")

In [ ]:
name, alter, studium, semester = get_student()

In [ ]:
name

'Max Musterman'