In [1]:
student_01 = "Michal"
student_02 = "Julia"
student_03 = "Max"
student_04 = "Katharina"

# Listen definiert man durch []

In [2]:
studenten = []

studenten = ["Michal","Julia","Max","Katharina", "Jan"]

lst = [[1,23,4],["Hallo",[]]]

In [3]:
print(studenten)

['Michal', 'Julia', 'Max', 'Katharina', 'Jan']

# Element in die Liste hinzufügen .append()

In [4]:
studenten.append("Peter")

In [5]:
print(studenten)

['Michal', 'Julia', 'Max', 'Katharina', 'Jan', 'Peter']

# Länge der Liste - Anzahl der Elemente len()

In [6]:
len(studenten)

6

# Zugriff auf die Einzelelemente in der Liste

In [7]:
print(studenten[0])

Michal

In [8]:
print(studenten[-3])
print(studenten[len(studenten)-3])

Katharina
Katharina

In [9]:
print(studenten[0] + " & " + studenten[4] )

Michal & Jan

# Entfernen des letzten Elementes aus der Liste .pop()

In [10]:
studenten.pop()

'Peter'

In [11]:
studenten

['Michal', 'Julia', 'Max', 'Katharina', 'Jan']

In [12]:
entfernt = studenten.pop()

In [13]:
print(entfernt)

Jan

In [14]:
studenten

['Michal', 'Julia', 'Max', 'Katharina']

# Umwandeln der Listen in Strings .join()

In [15]:
studenten.append("Julian")

In [16]:
studenten

['Michal', 'Julia', 'Max', 'Katharina', 'Julian']

In [17]:
print(" , ".join(studenten))

Michal , Julia , Max , Katharina , Julian

In [18]:
alle_studenten = ", ".join(studenten)

In [19]:
alle_studenten

'Michal, Julia, Max, Katharina, Julian'

In [20]:
print("Alle Studenten im Kurs sind: " + alle_studenten)

Alle Studenten im Kurs sind: Michal, Julia, Max, Katharina, Julian

# Umwandeln String auf die Listen .split()

In [21]:
ein_satz = "Alle Studenten im Kurs sind diese:"

In [22]:
einzelne_woerte = ein_satz.split(" ")

In [23]:
einzelne_woerte

['Alle', 'Studenten', 'im', 'Kurs', 'sind', 'diese:']

In [24]:
print(type(einzelne_woerte))

print(type("mein text"))

<class 'list'>
<class 'str'>

In [25]:
tag = 8
print (f"{tag} ist dein tag")

8 ist dein tag