# Listen

In [1]:
studenten = ["Peter","Jan","Stephan","Kristin"]

In [3]:
print(studenten[0])

Peter

# Slicing

In [4]:
print(studenten[2:4])

['Stephan', 'Kristin']

In [7]:
print(studenten[1:-1])

['Jan', 'Stephan']

In [8]:
print(studenten[0:-1])

['Peter', 'Jan', 'Stephan']

In [9]:
print(studenten[:-1])

['Peter', 'Jan', 'Stephan']

In [10]:
print(studenten[0:])

['Peter', 'Jan', 'Stephan', 'Kristin']

# Funktioniert auch mit Strings

In [11]:
"Michal"[2:4]

'ch'

# List Comprehensions

In [12]:
studenten = ["Peter","Jan","Stephan","Kristin"]

In [13]:
neu_liste = [len(stud) for stud in studenten]

In [15]:
neu_liste

[5, 3, 7, 7]

# Dictionaries

In [16]:
d = {"Berlin":"BER","Helsinki":"HEL","Wien":"VIE"}

In [17]:
print(d)

{'Berlin': 'BER', 'Helsinki': 'HEL', 'Wien': 'VIE'}

In [18]:
d["Berlin"]

'BER'

In [19]:
d["Budapest"]="BUD"

In [20]:
d

{'Berlin': 'BER', 'Helsinki': 'HEL', 'Wien': 'VIE', 'Budapest': 'BUD'}

In [21]:
del d["Budapest"]

In [22]:
d

{'Berlin': 'BER', 'Helsinki': 'HEL', 'Wien': 'VIE'}

In [23]:
print(d["Wien"])

VIE

In [24]:
d.get("Wien")

'VIE'

In [26]:
print(d.get("Z체rich"))

None

In [28]:
print("Wien" in d)

True

# Tuple

    > Listen und Dictionaries sind ver채nderbare Strukturen
    > Tupel sind nicht ver채nderbar

In [29]:
student = ("Max Musterma", 35, "Architektur", "3.Semester")

In [30]:
name, alter, studium, semester = student

In [31]:
name

'Max Musterma'

In [32]:
alter

35

In [33]:
semester

'3.Semester'

In [42]:
student[0] = "Michal"

TypeError: 'tuple' object does not support item assignment

In [54]:
def get_student():
    return ("Max Musterman", 35, "Architektur", "3.Semester")

In [55]:
name, alter, studium, semester = get_student()

In [56]:
name

'Max Musterman'

# Anzahl von bestimmten Elementen z채hlen

In [37]:
with open("./Data/names.csv","r") as file:
    names = {}
    
    for line in file:
        
        data = line.strip().split(",")
        if data[0] == "Id":
            continue
            
        name = data[1]
        count = int(data[5])
        
        if name in names:
            names[name] = names[name] + count
        else:
            names[name] = count

In [45]:
max_anzahl = 0
max_name = ""

for key, value in names.items():
    if max_anzahl < value:
        max_anzahl = value
        max_name = key

In [57]:
print((max_name,max_anzahl))

('James', 4957166)

In [58]:
d.items()

dict_items([('Berlin', 'BER'), ('Helsinki', 'HEL'), ('Wien', 'VIE')])