# Datentypen und Variablen

# Themen
- Datatypes
- Variables
- Type casting
- Operations
- Formatting
- Aufgabe

In [1]:
print("Hello, World!")

Hello, World!

# DATATYPES

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

None Type:	NoneType

https://www.w3schools.com/python/python_datatypes.asp

In [2]:
# integer
type(42)

int

In [3]:
# string
type("42")

str

In [4]:
# float
type(42.0)

float

In [5]:
# single line comment
# das ist ein Kommentar auf einer Zeile

In [6]:
# multi line comment
"""
Und ein Kommentar über mehrere Zeilen.
Das ist kein Datentyp, aber man sollte wissen, dass man auch Kommentare schreiben kann.
Das hat keinen Einfluss auf den Code.
Code wird normalerweise auf Englisch geschrieben und kommentiert...
"""

'\nUnd ein Kommentar über mehrere Zeilen.\nDas ist kein Datentyp, aber man sollte wissen, dass man auch Kommentare schreiben kann.\nDas hat keinen Einfluss auf den Code.\nCode wird normalerweise auf Englisch geschrieben und kommentiert...\n'

In [7]:
# multi line string
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""

In [8]:
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [9]:
# list
myList = ["Haus", "Leitung", "Dach"]
print(myList)

['Haus', 'Leitung', 'Dach']

In [10]:
myList = [10, 321, 3]
print(myList)

[10, 321, 3]

In [11]:
myList = [10, "ein Wort", 3]
print(myList)

[10, 'ein Wort', 3]

In [12]:
print(myList[1])

ein Wort

In [13]:
# bool
a = True
b = False
print(a)

True

In [14]:
print(b)

False

In [15]:
print(type(a))

<class 'bool'>

In [16]:
c = a + a 
print(c)

2

In [17]:
print(type(c))

<class 'int'>

In [18]:
c = a and a
print(c)

True

In [19]:
c = a and b
print(c)

False

# VARIABLES

Variable naming

https://www.w3schools.com/python/gloss_python_variable_names.asp
https://peps.python.org/pep-0008/

In [20]:
var1 = 42.0

In [21]:
print(var1)

42.0

In [22]:
type(var1)

float

In [23]:
derNameVonEinerVariableKannMehrOderWenigerAllesSein_aberBitteNichtNachmachen = "OK"

In [24]:
print(derNameVonEinerVariableKannMehrOderWenigerAllesSein_aberBitteNichtNachmachen)

OK

In [25]:
username = input("Enter username:")
print("Username is: " + username)
print(type(username))

Username is: Orlando.Bassi
<class 'str'>

In [26]:
user_age = input("Biutte Alter angeben!")
print("Dein Alter ist: {}".format(str(user_age)))

Dein Alter ist: 23

Dynamically typed

In [27]:
someVariable = 42

In [28]:
# now is someVariable a number
type(someVariable)

int

In [29]:
someVariable = "the number 42"

In [30]:
# now is someVariable a string
type(someVariable)

str

In [31]:
x, y, z = "Haus", "Leitung", "Dach"
print(x)
print(y)
print(z)

Haus
Leitung
Dach

In [32]:
# show prohibited
# sum = "das"

# Type casting

to change a type, we need to "Specify a Variable Type" (variable casting)

https://www.w3schools.com/python/python_casting.asp

In [33]:
# input comes as string 
someNumber = input("Enter some number:")
print("Username is: " + someNumber)
print(type(username))

Username is: 5
<class 'str'>

In [34]:
print(int(someNumber))

5

In [35]:
print(username)

Orlando.Bassi

In [36]:
print(int(username))

ValueError: invalid literal for int() with base 10: 'Orlando.Bassi'

In [ ]:
print(str(someNumber))
print(type(str(someNumber)))

In [ ]:
# check if string can be converted to float

someNumber = input("Enter some number:")

try:
    float(someNumber)
    print("You have entered " + someNumber + "'. This is a number.")
except ValueError:
    print("You have entered '" + someNumber + "'. This is not a number.")

# Operations

\+	Addition	x + y	
\-	Subtraction	x - y	
\*	Multiplication	x * y	
/	Division	x / y	
%	Modulus	x % y	
**	Exponentiation	x ** y	
//	Floor division	x // y

In [ ]:
20 + 10

In [ ]:
20 - 10

In [ ]:
20 * 10

In [ ]:
20 / 10

In [ ]:
20 ** 10

In [ ]:
20 / (10 + 10)

In [ ]:
1 + 2.0

In [ ]:
0.1 + 0.2

In [ ]:
round(0.1 + 0.2, 20)

In [ ]:
round(0.1 + 0.2, 5)

Operationen mit Variablen

In [ ]:
print(var1)

In [ ]:
var2 = var1 + var1
print(var2)

In [ ]:
var1 = 10
var2 = 20
var3 = 5

sumA = var1 + var2

print(sumA)

In [ ]:
outValue = (var1 + var2) / var3

print(outValue)

In [ ]:
var1 = "a"
var2 = "b"

sumA = var1 + var2
 
print(sumA)

In [ ]:
var2 = "b"

sumA = var1 + var2 + var3
print(sumA)

In [ ]:
var1 = "a"

outValue = var1*5
print(outValue)

In [ ]:
myList = [10, 321, 3]
myList * 3

In [ ]:
3 ** 3

# Formatting

In [ ]:
print("Summe A ist", (sumA), ".")

In [ ]:
print("Summe A ist " +  str(sumA) + ".")

In [ ]:
print("Summe A ist {}.".format(sumA))

In [ ]:
print("Summe A ist %s." % (sumA))

# Datenvergleich

Vergleich

In [ ]:
20 > 10

True

In [ ]:
20 >= 10

True

In [ ]:
20 < 10

False

In [ ]:
20 <= 10

In [ ]:
20 == 10

In [ ]:
20 != 10

In [ ]:
a = 20
b = 20.
print(a)
print(b)

In [ ]:
a == b

In [ ]:
c = "20"

In [ ]:
print(c)

In [ ]:
a == c